<div class="row">
    <div class="col-4 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
        style="width: 280px; height: fit-content;">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Categories</span>
        </a>
        <hr>
        <ul *ngFor="let item of categories" class="nav nav-pills flex-column">

            <li class="nav-item">
                <a (click)="getProducts(item.categoryId)"
                    [ngClass]="selectedCategory.categoryId == item.categoryId ? 'active nav-link' : 'nav-link'"
                    aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home" />
                    </svg>
                    {{item.categoryName}}
                </a>
            </li>
        </ul>

    </div>

    <div class="col-8">
        <div class="card mt-5" *ngIf="selectedCategory">
            <div class="d-flex justify-content-between card-title text-center">
                <h1>
                    {{selectedCategory.categoryName}}
                </h1>
                <button *ngIf="editToggle" class="btn btn-warning" (click)="edit()">Edit</button>
                <button *ngIf="!editToggle" class="btn btn-danger" (click)="edit()">Cancel</button>
            </div>
            <div class="card-content  d-flex justify-content-between align-items-center pb-2">


                <div *ngIf="editToggle" class="row">
                    <div class="col-4 mb-4" *ngFor="let item of selectedCategory.products; let i=index">
                        <app-product-item [product]="item"></app-product-item>
                    </div>
                </div>


                <form *ngIf="!editToggle" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row">
                        <label class="mb-2">
                            <input class="form-check-input" type="checkbox"
                                (change)="onSelectAllChange($event.target.checked)" />
                            Select All
                        </label>
                        <div class="col-4 mb-4" *ngFor="let item of selectedCategory.products; let i=index">
                            <div class="card">
                                <input class="form-check-input"
                                    [defaultChecked]="form.controls['checkArray'].value.includes(item.productId)"
                                    type="checkbox" (change)="onCheckboxChange($event)" [value]="item.productId" />
                                <app-product-item [product]="item"></app-product-item>
                            </div>

                        </div>
                        <p class="error" *ngIf="form.controls['checkArray'].errors?.['required']">
                            Checkbox is required, select atleast one value.
                        </p>
                        <input class="btn btn-outline-primary" [disabled]="!form.valid" type="submit" value="Submit">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>