<div class="container">
  <app-stepper></app-stepper>
  <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>IDs</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.productId }}</td>
        <td>{{ item.productName }}</td>
        <td><a routerLink="/catalog/{{item.productId}}" class="btn btn-primary">Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>